export(FCLP.classicObjective)
export(FCLP.fixedBeta)
export(FCLP.fuzzyObjective)
export(FCLP.fuzzyUndefinedNormObjective)
export(FCLP.fuzzyUndefinedObjective)
export(FCLP.sampledBeta)
export(FOLP.interv)
export(FOLP.multiObj)
export(FOLP.ordFun)
export(FOLP.posib)
export(FOLP.strat)
export(GFLP)
export(crispLP)
importFrom(FuzzyNumbers, as.TrapezoidalFuzzyNumber)
importFrom(FuzzyNumbers, supp)
importFrom(FuzzyNumbers, core)
importFrom(ROI, OP)
importFrom(ROI, L_constraint)
importFrom(ROI, ROI_solve)
import(ROI.plugin.glpk)